<section class="photo-recognition">
  <div class="photo-header">
    <h1>Facial Analysis</h1>
    <p>Get full analysis of facial attributes, including confidence scrores.</p>
  </div>
  <div class="photo-body">
    <div class="left-section">

      <div class="display-photo">
        <img class="img-display" v-if="!image" src="../../assets/facial-rec-photo.jpg">
        <img class="img-display" v-else :src="image">
      </div>
      <div class="upload-photo">
        <!-- <p>Upload Image</p>
        <md-button class="md-raised md-primary"  >Upload</md-button> -->
        <div id="app">
          <div v-if="!image">
            <h1>Select a video</h1>
           
            <label for="file-upload" class="custom-file-upload">
              <i class="fa fa-cloud-upload"></i> Upload
            </label>
            <input id="file-upload" type="file" @change="onFileChange" />

            <!-- <input class="upload-btn" type="file" @change="onFileChange"> -->
          </div>
          <div v-else>
            <!-- <img :src="image" /> -->
            <button class="remove-img" @click="removeImage" style="margin-left: 15vw;">Remove image</button>
          </div>
        </div>
      </div>

    </div>
    <div class="right-section">

      <div class="full-control">
        <div class="list">
          <md-list :md-expand-single="expandSingle" v-if="showAttribures">
            <md-list-item md-expand :md-expanded.sync="expandNews">
              <span class="md-list-item-text">Person</span>
              
              <md-list slot="md-expand">
                <md-list-item md-expand v-for="(names,index) in Person">
                  <!-- <md-icon>videogame_asset</md-icon> -->
                  <span class="md-list-item-text">{{names.Name}}</span>
                  <md-list slot="md-expand">
                    <md-list-item class="md-inset">
                      <div class="progress-bar">
                        <div class="smile">
                      <span>Smile - {{names.Smile.Value}}<br></span>
                    
                          <md-progress-bar md-mode="determinate" :md-value="smilePercent(index)"></md-progress-bar> 
                         <span style="margin-left: 2vw;"> {{names.Smile.Confidence}}% </span> 
                      </div>
                      <div class="glasses" style="margin-top: 2vh;">
                        <span>Eyeglasses - {{names.Eyeglasses.Value}}<br></span>
                        
                            <md-progress-bar md-mode="determinate" :md-value="eyeglassesPercent(index)"></md-progress-bar> 
                            <span style="margin-left: 2vw;"> {{names.Eyeglasses.Confidence}}% </span>
                        </div>
                        <div class="gender" style="margin-top: 2vh;">
                          <span>Gender - {{names.Gender.Value}}</span>
                         
                              <md-progress-bar md-mode="determinate" :md-value="genderConfidence(index)"></md-progress-bar> 
                              <span style="margin-left: 2vw;">{{names.Gender.Confidence}}%</span>
                          </div>
                          <div class="eyesOpen" style="margin-top: 2vh;">
                            <span>EyesOpen - {{names.EyesOpen.Value}}<br></span>
                           
                                <md-progress-bar md-mode="determinate" :md-value="EyesOpenPercentage(index)"></md-progress-bar>
                                <span style="margin-left: 2vw;"> {{names.EyesOpen.Confidence}}% </span> 
                            </div>
                    </div>
                    </md-list-item>
                  </md-list>
                </md-list-item>
              </md-list>
            </md-list-item>
          </md-list>
        </div>
      </div>

    </div>

    <div>
      <md-dialog :md-active.sync="showDialog">

        <md-dialog-title class="dialog-text" style="text-align: center;" v-model="dialogMsgToDisplay">
          {{dialogMsgToDisplay}}</md-dialog-title>
        <div class="spinner">
          <md-progress-bar v-if="!completed" md-mode="indeterminate"></md-progress-bar>

        </div>
        <md-dialog-actions v-if="completed">
          <md-button class="md-primary" @click="dialogClose">OK</md-button>
        </md-dialog-actions>
      </md-dialog>

      <!-- <md-button class="md-primary md-raised" @click="showDialog = true">Show Dialog</md-button>  -->
    </div>

  </div>
</section>