.photo-recognition{
    font-family: AmazonEmber,Helvetica Neue,Helvetica,Arial,sans-serif;
    display: grid;
    grid-template-rows: 100px 1fr;
    height: 100vh;
    
   

    .photo-body{
        display: grid;
        grid-template-columns: 2fr 1fr;

        .left-section{
            display: grid;
    grid-template-rows: 2fr 1fr;
    .display-photo{
        .img-display{
            width: 60%;
            height: 50vh !important;
        }
    }
            .upload-photo{
                #app {
                    text-align: left;
                  }
                  img {
                    width: 30%;
                    margin: auto;
                    display: block;
                    margin-bottom: 10px;
                  }
                  button {
                    
                  }
                  input[type="file"] {
                    display: none;
                }
                .custom-file-upload {
                    border: 1px solid #ccc;
                    display: inline-block;
                    padding: 6px 12px;
                    cursor: pointer;
                    background: #458AFF;
                    color: white;
                    font-weight: bold;
                }
                .remove-img{
                    margin-top:2vh;
                    text-align: center;
                    border: 1px solid #ccc;
                    display: inline-block;
                    padding: 6px 12px;
                    cursor: pointer;
                    background: #FF5252;
                    color: white;
                    font-weight: bold;
                }
            }
        }
        .right-section{
   
            .progress-bar{
                width: 90%;
            }
          
            
             
        }
    }
}